html {
    border: 12px solid burlywood;
    box-sizing: content-box;
}
body {
    background-image: url(./images/crow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
p {
    text-align: left;
    color: aliceblue;
}
 